{
    "datasource": {
        "type": "vertamedia-clickhouse-datasource",
        "uid": "BRUMMUCSTARBUCS"
    },
    "gridPos": {
        "h": 8,
        "w": 12,
        "x": 0,
        "y": 9
    },
    "id": {{&ID}},
    "options": {
        "data": "",
        "layout": {{&LAYOUT}},
        "onclick": "{{&ON_CLICK}}",
        "script": "{{&SCRIPT}}"
    },
    "targets": [
        {
            "database": "{{&DATABASE}}",
            "datasource": {
                "type": "vertamedia-clickhouse-datasource",
                "uid": "BRUMMUCSTARBUCS"
            },
            "dateColDataType": "",
            "dateLoading": false,
            "dateTimeColDataType": "created_at",
            "dateTimeType": "DATETIME",
            "datetimeLoading": false,
            "extrapolate": true,
            "format": "table",
            "formattedQuery": "",
            "intervalFactor": 1,
            "query": "{{&QUERY}}",
            "rawQuery": "",
            "refId": "A",
            "round": "0s",
            "skip_comments": true,
            "table": "{{&TABLE}}",
            "tableLoading": false
        }
    ],
    "title": "{{&META_TITLE}}",
    "transformations": [],
    "transparent": true,
    "type": "ae3e-plotly-panel"
}